DATABASE_URL=sqlite:///./drift.db
SECRET_KEY=MsbRkmZ3Ce5o_4L7K0Sv453vSL7TxGMe_XN3vCDX1sBfQ6lyHyIcavzmT_6xZvdddvdBRx-7fCMk0rSzQANpaQ
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=http://localhost:5173
